body{
    font-family: Arial, Helvetica, sans-serif;
}
#navBar{
    display: flex;
    background-color: lightgreen;
    padding: 1%;
    justify-content: flex-start;
    border-radius: 1vh;
}
#navBar > a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin: 1%;
}
#navBar > a:hover{
    color: white;
    margin-top: 0.6%;
}
.container1{
    background-color: rgb(255,240,235);
    padding: 1%;
    border-radius: 1vh;
    width: 50%;
    margin: 1%;
}
.container1:hover{
    box-shadow: 20px 10px 5px rgb(255,240,250);
    margin-top: 0.5%;
}