body{
    font-family: Arial, Helvetica, sans-serif;
}
#navBar{
    display: flex;
    background-color: transparent;
    padding: 1%;
    justify-content: flex-end;
    border-radius: 1vh;
}
#navBar > a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin: 1%;
    transition: margin-top 0.3s, text-decoration 0.8s;
}
#navBar > a:hover{
    margin-top: 0.6%;
    text-decoration: underline;
    color: lightskyblue;
}
article{
    background-color: rgb(255,210,235);
    padding: 1%;
    border-radius: 1vh;
    width: 50%;
    margin: 1%;
    transition: box-shadow 0.5s;
}
article:hover{
    box-shadow: 20px 10px 5px rgb(255,240,250);
}